<div class="row">
	<div class="col-md-2">
		<div class="kt-section">
			<div class="example-container">
				<mat-form-field>
					<mat-select placeholder="Veri Gönderme Sıklığı (dk)" [(ngModel)]="minInterval">
						<mat-option *ngFor="let time of timeIntervalArray" [value]="time">
							{{ time }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="kt-section">
			<div class="example-container">
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Epsilon 1 Değeri (metre)" [(ngModel)]="epsilon">
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="kt-section">
			<div class="example-container">
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Epsilon 2 Değeri (dakika)" [(ngModel)]="epsilon2">
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="kt-section">
			<div class="example-container">
				<mat-form-field class="example-full-width">
					<input matInput placeholder="minPoints Değeri" [(ngModel)]="minPoints">
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="kt-section">
			<div class="example-container">
				<div class="button-row">
					<button mat-raised-button color="primary" (click)="run()">Çalıştır</button>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="kt-section__content">

			<div class="example-container mat-elevation-z8">
				<mat-table [dataSource]="dataSource" matSort>
					<!-- ID Column -->
					<ng-container matColumnDef="Enlem">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Enlem </mat-header-cell>
						<mat-cell *matCellDef="let row"> {{row.Enlem}} </mat-cell>
					</ng-container>
					<!-- Progress Column -->
					<ng-container matColumnDef="Boylam">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Boylam </mat-header-cell>
						<mat-cell *matCellDef="let row"> {{row.Boylam}} </mat-cell>
					</ng-container>
					<!-- Name Column -->
					<ng-container matColumnDef="ZamanNumbered">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Zamam </mat-header-cell>
						<mat-cell *matCellDef="let row"> {{row.ZamanNumbered}} </mat-cell>
					</ng-container>
					<!-- Name Column -->
					<ng-container matColumnDef="Zaman">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Tarih </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.Zaman}} </mat-cell>
						</ng-container>
					<!-- Color Column -->
					<ng-container matColumnDef="cluster">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Cluster </mat-header-cell>
						<mat-cell *matCellDef="let row" [style.color]="row.cluster"> {{row.cluster}} </mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;">
					</mat-row>
				</mat-table>
				<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
			</div>

		</div>
	</div>
</div>