<div class="row">
	<div class="col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'3 min. data on map'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<positionsonmap [minInterval] = "3"></positionsonmap>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'5 min. data on map'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<positionsonmap [minInterval] = "5"></positionsonmap>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
<div class="row">
	<div class="col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'7 min. data on map'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<positionsonmap [minInterval] = "7"></positionsonmap>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'10 min. data on map'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<positionsonmap [minInterval] = "10"></positionsonmap>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
<div class="row">
	<div class="col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'20 min. data on map'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<positionsonmap [minInterval] = "20"></positionsonmap>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'30 min. data on map'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<positionsonmap [minInterval] = "30"></positionsonmap>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>