<div class="row">
	<div class="col-md-4">
		<div class="kt-section">
			<div class="example-container">
				<mat-form-field>
					<mat-select placeholder="Veri Seti" [(ngModel)]="selecteddatasets" multiple>
						<mat-option *ngFor="let dataset of datasets" [value]="dataset.value">{{dataset.name}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="kt-section">
			<div class="example-container">
				<mat-form-field>
					<mat-select placeholder="Veri Gönderme Sıklığı (dk)" [(ngModel)]="minInterval">
						<mat-option *ngFor="let time of timeIntervalArray" [value]="time">
							{{ time }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="kt-section">
			<div class="example-container">
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Epsilon 1 Değeri (metre)" [(ngModel)]="epsilon">
				</mat-form-field>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="kt-section">
			<div class="example-container">
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Epsilon 2 Değeri (dakika)" [(ngModel)]="epsilon2">
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="kt-section">
			<div class="example-container">
				<mat-form-field class="example-full-width">
					<input matInput placeholder="minPoints Değeri" [(ngModel)]="minPoints">
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="kt-section">
			<div class="example-container">
				<div class="button-row">
					<button mat-raised-button color="primary" (click)="run()">Çalıştır</button>
					<button mat-raised-button color="success" (click)="download()">Çalıştır</button>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-3">
		<div class="kt-section">
			<div class="example-container">
					<label>Toplam Konum Verisi: {{resultCount}}</label>
			</div>
		</div>

	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="kt-section__content">

			<div class="example-container mat-elevation-z8" #gridExport>
				<table mat-table [dataSource]="dataSource" matSort >
					<!-- ID Column -->
					<ng-container matColumnDef="Enlem">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Enlem </mat-header-cell>
						<mat-cell *matCellDef="let row"> {{row.Enlem}} </mat-cell>
					</ng-container>
					<!-- Progress Column -->
					<ng-container matColumnDef="Boylam">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Boylam </mat-header-cell>
						<mat-cell *matCellDef="let row"> {{row.Boylam}} </mat-cell>
					</ng-container>
					<!-- Name Column -->
					<ng-container matColumnDef="MinZaman">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Başlangıç </mat-header-cell>
						<mat-cell *matCellDef="let row"> {{row.MinZaman}} </mat-cell>
					</ng-container>
					<!-- Name Column -->
					<ng-container matColumnDef="MaxZaman">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Bitiş </mat-header-cell>
						<mat-cell *matCellDef="let row"> {{row.MaxZaman}} </mat-cell>
					</ng-container>
					<!-- Color Column -->
					<ng-container matColumnDef="cluster">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Cluster </mat-header-cell>
						<mat-cell *matCellDef="let row" [style.color]="row.cluster"> {{row.cluster}} </mat-cell>
					</ng-container>
					<!-- Color Column -->
					<ng-container matColumnDef="Adres">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Cluster </mat-header-cell>
						<mat-cell *matCellDef="let row" [style.color]="row.Adres"> {{row.Adres}} </mat-cell>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;">
					</tr>
				</table>
				<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
			</div>

		</div>
	</div>
</div>